body {
    text-align: center;
    background-repeat:no-repeat;
    background-size:cover;
    color:var(--base);
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 50px;
  }
  .controls {
    margin-bottom: 50px;
  }
  input {
    width:100px;
  }

  :root {
    --base: #e76209;
    --hue: 8deg;
    --blur: 10px;
  }
  img {
    padding: 5px;
    border:12px solid;
    border-color: var(--base);
    filter: blur(var(--blur)) hue-rotate(var(--hue));
    max-width: 800px;
  }
  .highlight {
    color: darkorange;
  }