html {
    font-family: sans-serif;
  }

 
  input:checked + p {
    text-decoration: line-through;
  }
  p {
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }