
  .panel {
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    color:white;
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size:cover;
    background-position:center;
  }
  .panel1 { background-image:url(https://images.unsplash.com/photo-1525629819736-6700e6435f47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f531bde09e64f4c2b62f81b5a889c81&auto=format&fit=crop&w=668&q=80); }
  .panel2 { background-image:url(https://images.unsplash.com/photo-1471194408576-f5d85dcc2cd1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87ed7243994713c53cc58cc3e803e160&auto=format&fit=crop&w=1500&q=80); }
  .panel3 { background-image:url(https://images.unsplash.com/photo-1525253761675-21367a7f975b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87fd62bbc7abbb84d7d20f971843da71&auto=format&fit=crop&w=582&q=80); }
  .panel4 { background-image:url(https://images.unsplash.com/photo-1504512375901-4afab01e5aec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7b8a6c0347af1dff581bd4fbc9b030c4&auto=format&fit=crop&w=666&q=80); }
  .panel5 { background-image:url(https://images.unsplash.com/photo-1518008931783-51b25ba2ccc9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87a6a9889936a62f928eb3e67f348907&auto=format&fit=crop&w=1500&q=80); }
  