.panels {
    min-height:100vh;
    overflow: hidden;
    display: flex;
  }

  .panel{
      flex:1;
      text-align: center;
      align-items:center;
      display:flex;
      flex-direction: column;
  }

  .panel > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child{
        transform: translateY(-100%);
    }
    &:last-child{
        transform: translateY(100%);
    }
  }
  .panel.open-active > *:first-child{ transform: translateY(0)};
  .panel.open-active > *:last-child{ transform: translateY(0)};
  

  .panel.open {
    flex: 5;
  }