.panel{
    p {
        text-transform: uppercase;
        font-family: 'Amatic SC', cursive;
        text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
        font-size: 2em;
      }
      p:nth-child(2) {
        font-size: 4em;
      }
      
}

  
.panel.open {
  font-size:40px;
}