html {
  font-size: 10px;
  background: url(https://images7.alphacoders.com/638/638837.jpg) bottom center;
  background-size: cover;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
