* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  display: flex;
  justify-content: center; }

img {
  max-height: 100vh;
  user-select: none; }

#canvas {
  margin-left: -276px;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  position: absolute;
  /*     border: 5px solid pink;
 */
  transform: rotate(-5deg); }

.canvas-container {
  max-width: 390px;
  max-height: 560px; }

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  position: absolute;
  left: 0; }
