body{
margin:0;
display: flex;
justify-content:center;
}
   img{
    max-height: 100vh;
   }
#canvas{
    margin-left: -276px;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    position: absolute;
/*     border: 5px solid pink;
 */    transform: rotate(-5deg);
}
