
    *{
        font-family: 'Roboto', sans-serif;
    }
    h1 {
        color: white;
        font-weight: bold;
        color: #FFC107;
        background-color: white;
        opacity: 0.7;
        padding: 20px;
        text-align: center;
    }
.item__details{
        position: relative;
        z-index: 1;
        padding: 15px;
        color: #444;
        background: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #828282;
}

.link-naav{
    text-decoration: none;
}

.name{
    position: absolute;
    top:0;
    margin-left: 64px;
    font-size: 120px;
    color: darkslateblue;
}